@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.mainTitle{
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    color: 2e3532;
    text-align: center;
}
