body{
  background-color: #EFEFEF;
}

.productGrid{
  display: grid;
  grid-template-columns: auto auto;
  margin: none;
  padding: none;
  list-style-type: none;
}

.paintColor{
  
  
}

#homeMain{
  width: 70vw;
  text-align: center;
  margin: auto;
}


